/*Styles For Everyone!*/

.t50 {margin-top: 50px;}
.b50 {margin-bottom: 50px;}
.m {margin:100px 0;}
.bluebox {background:#C5DFFF;padding:20px;border: 1px solid #E9E9E9;margin: 20px 0 100px 0;}
.purplebox{}
.orangebox{background: #FEF2E8; padding: 20px;border: 1px solid #E9E9E9;margin: 20px 0 100px 0;}
.yellowbox{background: #FEF8C9; padding: 20px;border: 1px solid #E9E9E9;margin: 20px 0 100px 0;}
.graybox{background: #EEE; padding: 20px;border: 1px solid #E9E9E9;margin: 20px 0 100px 0;}
.whitebox {background:white;padding:20px; border:10px solid #000;margin: 20px 0 100px 0;}
.impact {font-family: impact;font-size:500%;}
/* Custom Post Types
-------------------------------------------------------------*/
.type-product {
 display:inline-block;
  width: 20%;
  padding: 1%;
  margin:0 1%;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
  border-top: 1px solid #EEE;
}

.type-testimonial {
 display:inline-block;
  width: 20%;
  padding: 1%;
  margin:0 1%;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
  border-top: 1px solid #EEE;
}
.type-service { display:inline-block;
  width: 20%;
  padding: 1%;
  margin:0 1%;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
  border-top: 1px solid #EEE;
}
.type-customer {
 display:inline-block;
  width: 20%;
  padding: 1%;
  margin:0 1%;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
  border-top: 1px solid #EEE;
}

@media (max-width:980px){
.type-customer, .type-service, .type-testimonial, .type-product{
width: 29%;


}
@media all and (max-width:840px){
.type-customer, .type-service, .type-testimonial, .type-product{
	width: 40%;

}
@media all and (max-width:700px){
.type-customer, .type-service, .type-testimonial, .type-product{
	width: 90%;
}

} }}